
.weatherContent{
  padding: 30px ;
  width: 700px;
  background-color: white;
  margin: 60px auto;
  border-radius: 10px;
}
.form {
  margin-bottom: 50px;
}

input{
  width: 71%;
  margin-right: 10px;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #F9F7FE;
  opacity: 0.6;
}
button{
  width: 27%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  
  border: none;
  background-color: #885DF1;
  color: white;
}
.button{
  border-radius: 10px;
}
.container {
  padding: 0;
}
.heading {
  font-weight: bold;
  font-size: 45px;
}
strong{
  color: red;
}
ol, ul {
  display: block;
  opacity: 0.6;
}
.list {
  padding: 0;
}
li {
  list-style: none;
}
.temperature-container{
  align-items: center;
  margin-top: 16px;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
}
.temp{
  font-size: 80px;
  font-weight: 700;
  margin-left: 10px;
  line-height: 1;
  box-sizing: border-box;
}
.unit{
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -16px;
  box-sizing: border-box;
}