
.weatherContent{
  padding: 30px ;
  width: 700px;
  background-color: white;
  margin: 60px auto;
  border-radius: 10px;
}
:root{
  background-color: #F9F7FE;
}
.app{
  background-color: #F9F7FE;
  
}
.form {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #F9F7FE;
}

input{
  width: 71%;
  margin-right: 10px;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #F9F7FE;
  opacity: 0.6;
}
button{
  width: 27%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  
  border: none;
  background-color: #885DF1;
  color: white;
}
.button{
  border-radius: 10px;
}
main {
  border-bottom: 1px solid #F9F7FE;
  padding-bottom: 15px;
}
.container {
  padding: 15px 0 0 0;
}
.heading {
  font-weight: bold;
  font-size: 45px;
}
strong{
  color: red;
}
ul {
  display: block;
  opacity: 0.6;
}
.list {
  padding: 0;
}
li {
  list-style: none;
}
.temperature-container{
  align-items: center;
  margin-top: 16px;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
}
.temp{
  font-size: 80px;
  font-weight: 700;
  margin-left: 10px;
  line-height: 1;
  box-sizing: border-box;
}
.unit{
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -16px;
  box-sizing: border-box;
}
footer {
  text-align: center;
  font-size: 14px;
}